<%= form_for([:admin,@country]) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>  
  <div class="actions">
    <%= f.submit 'Save',class: 'btn btn-primary' %>
  </div>
<% end %>
