<% content_for(:admin_menu) do %>
  <div class="header">            
    <h1 class="page-title">States</h1>
  </div>
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home" , admin_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">States</li>
  </ul>  
<% end %>
<div class="btn-toolbar">
    <%= link_to '<i class="icon-plus"></i> New State'.html_safe, new_admin_state_path , class: "btn btn-primary" %>    
    <button class="btn">Import</button>
    <button class="btn">Export</button>
  <div class="btn-group">    
  </div>
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Country</th>
        <th style="width: 26px;"></th>
      </tr>
    </thead>
    <tbody>
      <% @states.each_with_index do |state,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= state.name %></td>
          <td><%= state.country.name if state.country_id %></td>
          <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_state_path(state) %></td>
          <td><%= link_to '<i class="icon-remove"></i>'.html_safe, admin_state_path(state), method: :delete , data: { confirm: 'Are you sure?' } %></td>        
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="digg_pagination">
  <%= will_paginate @states, :container => false %>
</div>