<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JobSite</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Demo page code -->
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->    

    <!-- Le fav and touch icons -->    
  </head>
  <body class="">     
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-right">  
          <% if current_user %>                      
          <li id="fat-menu">
            <%= link_to "<i class='icon-user'></i> #{current_user.to_s}".html_safe,admin_admin_path(current_user) %>            
          </li>                       
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete,tabindex: "-1") %>
            <!-- <a tabindex="-1" href="sign-in.html">Logout</a> -->
          </li>   
          <% end %>         
        </ul>
        <a class="brand" href="index.html"><span class="first">Job</span> <span class="second">Site</span></a>
      </div>
    </div>
    <% if current_user %>
      <div class="sidebar-nav">
        <%= render :partial=>"admin_base/side_bar" %>      
      </div>

      <div class="content">              
        <%= content_for?(:admin_menu) ? yield(:admin_menu) : (render :partial => "admin_base/admin_dashboard_menu") %>

        <div class="container-fluid">
          <div class="row-fluid">
            <% if flash.present? %>
              <%flash.each do |type,message|%>
                <div class="alert alert-<%= type %>">
                  <button type="button" class="close" data-dismiss="alert">×</button>                
                  <%= message.titleize.gsub("<Br/>","<br/>").html_safe %>
                </div>              
                <% flash.discard(type) %>              
              <%end%>        
            <% end %>   

            <%= yield %>          
            <footer>        
              <p>&copy; 2014</p>
            </footer>                    
          </div>
        </div>
      </div> 
    <% else %>
      <div class="row-fluid">
        <%= yield %>   
      </div>
    <% end  %>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>    
  </body>
</html>


